<router-outlet></router-outlet>
<div class="container mt-5">
  <h2>Register</h2>
  <form (submit)="register($event)">
    <input
      class="form-control mb-3"
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />
    <input
      class="form-control mb-3"
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <button type="submit" class="btn btn-success w-100">Register</button>
  </form>
  <p class="mt-3">
    Already have an account?
    <a routerLink="/login">Login here</a>
  </p>
</div>
